<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Cristian Müller Portifólio</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="../static/css/global.css" />
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root">
      <!-- top bar -->
      <div class="topbar">
        <div class="wrapper">
          <div class="left">
            <div class="socialContainer">
              <a
                target="_blank"
                href="https://www.linkedin.com/in/cristian-müller"
                class="link"
                rel="noreferrer"
              >
                <LinkedInIcon class="icon social" />

                <span>https://www.linkedin.com/in/cristian-müller</span>
              </a>
              <a
                target="_blank"
                href="https://github.com/CRISTIAN-MULLER"
                class="link"
                rel="noreferrer"
              >
                <GitHubIcon class="icon social" />

                <span>https://github.com/CRISTIAN-MULLER</span>
              </a>
            </div>
            <div class="phoneNumber">
              <div class="number">
                <PersonIcon class="icon" />
                <span>+55 27 99518-1848</span>
              </div>
              <PersonIcon class="icon" />
              <span>+55 27 99694-3836</span>
            </div>
            <div class="email">
              <EmailIcon class="icon" />
              <span>muller.cristian@outlook.com</span>
            </div>
            <div class="country">
              <div class="flag">
                <Flag
                  code="BR"
                  gradient="top-down"
                  size="l"
                  hasBorder="{false}"
                />
              </div>
              <div class="flag">
                <Flag
                  code="US"
                  gradient="top-down"
                  size="l"
                  hasBorder="{false}"
                />
              </div>
            </div>
          </div>

          <div class="right">
            <div class="hamburguer">
              <span class="line1"></span>
              <span class="line2"></span>
              <span class="line3"></span>
            </div>
          </div>
        </div>
      </div>
      <!-- top bar -->

      <!-- menu -->
      <!-- <div class="menu">
        <ul>
          <li>
            <a href="#intro">Inicio</a>
          </li>
          <li>
            <a href="#portfolio">Portifolio</a>
          </li>
          <li>
            <a href="#works">Meus Projetos</a>
          </li>
          <li>
            <a href="#testimonials">Depoimentos</a>
          </li>
          <li>
            <a href="#contact">Contatos</a>
          </li>
        </ul>
      </div> -->
      <!-- menu -->

      <!-- intro -->
      <div class="intro" id="intro">
        <div class="left">
          <div class="imageContainer">
            <img src="/assets/foto.svg" alt="" />
          </div>
        </div>
        <div class="right">
          <div class="wrapper">
            <h2>Oi, Eu sou</h2>
            <h1>Cristian Müller</h1>
            <h3>Freelancer <span ref="{textRef}"></span></h3>
            <a href="#portfolio">
              <KeyboardArrowDownIcon class="arrowDownIcon" />
            </a>
          </div>
        </div>
      </div>
      <!-- intro -->
    </div>
  </body>
</html>
